go 1.23.3

use (
	./common
	./day01-historian-hysteria
	./day02-red-nosed-reports
	./day03-mull-it-over
	./day04-ceres-search
  ./day05-print-queue
  ./day06-guard-gallivant
  ./day07-bridge-repair
  ./day08-resonant-collinearity
	./day09-disk-fragmenter
	./day10-hoof-it
	./day11-plutonian-pebbles
	./day12-garden-groups
	./day13-claw-contraption
	./day14-restroom-redoubt
	./day15-warehouse-woes
	./day16-reindeer-maze
	./day17-chronospatial-computer
	./day18-ram-run
)
